#id1
{
    font-size:20px;
    margin-top:0px;
    padding:20px;
    
}
input[type="text"]
{
    font-size:25px;
    margin:10px;
}
input[type="password"]
{
    font-size:25px;
    margin:10px;
}
input[type="submit"]
{
    font-size:30px;
    background-color:blue;
    color:white;
}
#upper1
{
    width:600px;
    height:650px;
    background-color:aliceblue;
    border-radius:10px;
}
#upper2
{
    width:400px;
    height:540px;
    background-color:blanchedalmond;
    border-radius:20px;   
}
